[token="("],
[token=")"],
[token="(?"],
[token="(?:"],
[token="(?<"],
[token=">"],
[token="["],
[token="]"],
[token="{"],
[token="}"] {
  scope: 'punctuation.bracket';
}

group_name {
  scope: 'property';
}

identity_escape,
control_letter_escape,
control_escape,
class_escape
start_assertion,
end_assertion,
boundary_assertion,
non_boundary_assertion {
  scope: 'escape';
}

[token="escape_sequence"] {
  scope: 'escape';
}

[token="*"],
[token="+"],
[token="|"],
[token="="],
[token="<="],
[token="!"],
[token="<!"]
{
  scope: 'operator';
}
